.pad50 {
  padding: 50px 15px 50px 15px; }

.pad100 {
  padding: 100px 15px 100px 15px; }

.grey {
  background-color: #efefefef; }

.B_crumbBox {
  list-style: none;
  padding-left: 0px; }

.B_firstCrumb, .B_crumb, .B_lastCrumb {
  display: inline-block; }
  .B_firstCrumb a, .B_crumb a, .B_lastCrumb a {
    color: black; }
    .B_firstCrumb a:hover, .B_crumb a:hover, .B_lastCrumb a:hover {
      color: #009ee2;
      text-decoration: none; }

body, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif; }

h1, h2, h3 {
  font-weight: 700; }

h1 {
  font-size: 42px; }

h2 {
  font-size: 26px; }

.quote {
  border-left: 3px solid #009ee2;
  padding: 10px 10px 10px 10px;
  margin-left: 10px;
  font-size: 17px;
  line-height: 32px;
  font-style: italic; }

.underline {
  position: relative;
  display: inline-block; }
  .underline::after {
    content: '';
    background: #009ee2;
    width: 50%;
    height: 2px;
    display: block;
    margin: 5px auto 0px auto; }

.underline-r {
  position: relative;
  display: inline-block; }
  .underline-r::after {
    content: '';
    background: #009ee2;
    width: 40px;
    height: 2px;
    display: block;
    margin: 10px 0; }

p {
  font-size: 16px;
  color: #747474;
  line-height: 24px; }

.btn-large {
  padding: 10px 25px;
  border: 0px; }
  .btn-large a {
    color: white; }
    .btn-large a:hover {
      text-decoration: none;
      color: white; }

.btn-blue {
  background-color: #009ee2;
  color: white; }

.btn-grey {
  background-color: #333;
  color: white; }

.head-caption a {
  margin: 10px 0; }
  .head-caption a:hover {
    text-decoration: none;
    color: white; }

.button-right {
  text-align: right; }

.button-left {
  text-align: left; }

.wsmenu-arrow {
  color: blue; }

.wsmobileheader .wssearch.wsopensearch {
  color: blue; }

.buttons {
  margin: 20px 0; }

.head-img {
  height: 650px;
  background-size: cover; }

.dienst {
  background-color: #efefefef;
  padding: 30px 20px;
  margin: 10px 0; }
  .dienst > img {
    width: 20%;
    margin-bottom: 20px; }

.thumbnail {
  position: relative;
  overflow: hidden;
  margin: 5px; }

.caption {
  position: absolute;
  top: -100%;
  right: 0;
  background: rgba(66, 139, 202, 0.75);
  width: 100%;
  height: 100%;
  padding: 2%;
  text-align: center;
  color: #fff !important;
  z-index: 2;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.thumbnail:hover .caption {
  top: 0%; }

.caption-inner {
  top: 40%;
  position: absolute;
  text-align: center;
  width: 100%;
  color: white; }
  .caption-inner i {
    font-size: 26px;
    margin-bottom: 10px; }
  .caption-inner p {
    color: white; }

section {
  margin: 50px 0;
  padding: 50px 0; }

#merken {
  background-color: #efefefef;
  margin: 50px 0px -50px 0;
  padding: 50px 0; }

.head-caption {
  padding-top: 150px;
  color: white; }
  .head-caption p {
    color: white;
    font-size: 20px;
    line-height: 32px;
    font-weight: 600; }

footer {
  padding: 100px 150px;
  background-color: #333; }
  footer p {
    font-size: 14px; }
  footer h3 {
    color: #009ee2;
    font-size: 18px; }
  footer ul {
    padding-left: 0px;
    list-style: none; }
    footer ul a {
      color: #747474; }
      footer ul a:hover {
        color: white; }

/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  footer {
    padding: 25px 0; }

  .button-left, .button-right {
    text-align: center; } }
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
.nav-pills .nav-link {
  background-color: #efefef;
  margin: 5px;
  border-radius: 0px;
  color: black; }

.header-img-cat {
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  align-items: center; }
  .header-img-cat h1 {
    text-transform: uppercase; }
  .header-img-cat p {
    color: white;
    font-weight: 600;
    font-size: 18px; }

.header-content {
  padding-top: 150px; }

.widget {
  background-color: #efefef;
  padding: 25px 20px;
  margin: 10px 0; }

.product-overzicht {
  border-bottom: 1px solid #efefef;
  margin-bottom: 25px;
  padding-bottom: 25px; }

.gallery-title {
  font-size: 36px;
  color: #42B32F;
  text-align: center;
  font-weight: 500;
  margin-bottom: 70px; }

.gallery-title:after {
  content: "";
  position: absolute;
  width: 7.5%;
  left: 46.5%;
  height: 45px;
  border-bottom: 1px solid #5e5e5e; }

.filter-button {
  font-size: 18px;
  border: 1px solid #42B32F;
  border-radius: 5px;
  text-align: center;
  color: #42B32F;
  margin-bottom: 30px; }

.filter-button:hover {
  font-size: 18px;
  border: 1px solid #42B32F;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  background-color: #42B32F; }

.btn-default:active .filter-button:active {
  background-color: #42B32F;
  color: white; }

.port-image {
  width: 100%; }

.gallery_product {
  margin-bottom: 30px; }

.modal-dialog {
  top: 25%; }

.port-img {
  margin: 10px 0; }

/*# sourceMappingURL=styles.css.map */
