// font-family: 'Roboto', sans-serif;
// 400,500,700

body,p,h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto', sans-serif;
}

h1, h2,h3{
  font-weight: 700;
}

h1{
font-size:42px
}


h2{
  font-size: 26px;
}

.quote{
  border-left: 3px solid $colorBlue;
  padding: 10px 10px 10px 10px;
  margin-left: 10px;
  font-size: 17px;
  line-height: 32px;
  font-style: italic;
}
.underline{
  position: relative;
  display: inline-block;
    &::after{

      content: '';
      background: $colorBlue;
      width: 50%;
      height: 2px;
      display: block;
      margin: 5px auto 0px auto;
    }
}

.underline-r{
  position: relative;
  display: inline-block;
    &::after{

      content: '';
      background: $colorBlue;
      width: 40px;
      height: 2px;
      display: block;
      margin: 10px 0;
    }
}

p{
  font-size:16px;
  color: $colorBlack;
  line-height: 24px;
}
